* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_46 {
  width: 571px;
  height: 676px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_47 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 189px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_231 {
  width: 73px;
  height: 37px;
  background: url("../images/v6_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 485px;
  overflow: hidden;
}
.v6_230 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_229 {
  width: 73px;
  height: 37px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_238 {
  width: 342px;
  height: 37px;
  background: url("../images/v6_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 116px;
  overflow: hidden;
}
.v6_240 {
  width: 342px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 342px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_232 {
  width: 73px;
  height: 37px;
  background: url("../images/v6_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 485px;
  overflow: hidden;
}
.v6_233 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_234 {
  width: 73px;
  height: 37px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_235 {
  width: 73px;
  height: 37px;
  background: url("../images/v6_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 485px;
  overflow: hidden;
}
.v6_236 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_237 {
  width: 73px;
  height: 37px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_241 {
  width: 73px;
  height: 37px;
  background: url("../images/v6_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 485px;
  overflow: hidden;
}
.v6_242 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 8px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_245 {
  width: 73px;
  height: 37px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_48 {
  width: 461px;
  height: 50px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 14px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_49 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 27px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_50 {
  width: 461px;
  height: 50px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 14px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_51 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 125px;
  left: 32px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_52 {
  width: 461px;
  height: 50px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 14px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_53 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_54 {
  width: 461px;
  height: 50px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 14px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_55 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 245px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_56 {
  width: 450px;
  height: 300px;
  background: url("../images/v6_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 25px;
  overflow: hidden;
}
.v6_57 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 297px;
  left: 251px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_261 {
  width: 102px;
  height: 38px;
  background: url("../images/v6_261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 621px;
  left: 456px;
  overflow: hidden;
}
.v6_243 {
  width: 102px;
  height: 38px;
  background: rgba(127,127,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 102px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_244 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 26px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_58 {
  width: 522px;
  height: 270px;
  background: rgba(153,153,153,1);
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_59 {
  width: 100%;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v6_60 {
  width: 253px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_61 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_62 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 380px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_63 {
  width: 100%;
  height: 30px;
  background: rgba(204,25,25,1);
  opacity: 1;
  position: absolute;
  top: 870px;
  left: 0px;
  overflow: hidden;
}
.v6_64 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_65 {
  width: 60px;
  height: 60px;
  background: url("../images/v6_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 1315px;
  overflow: hidden;
}
.v6_66 {
  width: 60px;
  height: 60px;
  background: rgba(51,153,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v6_68 {
  width: 100%;
  height: 70px;
  background: rgba(204,25,25,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_69 {
  width: 278px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v6_70 {
  width: 375px;
  height: 44px;
  background: url("../images/v6_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 116px;
  overflow: hidden;
}
.v6_71 {
  width: 340px;
  height: 20px;
  background: rgba(0,0,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_72 {
  width: 7px;
  color: rgba(19,18,18,1);
  position: absolute;
  top: 20px;
  left: 2px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v6_73 {
  width: 52px;
  color: rgba(15,15,15,1);
  position: absolute;
  top: 21px;
  left: 323px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v6_74 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_75 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 37px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_76 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_77 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 71px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_78 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 104px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_79 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 138px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_80 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 171px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_81 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 205px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_82 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 238px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_83 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 272px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_84 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 305px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_227 {
  width: 20px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v6_85 {
  width: 375px;
  height: 44px;
  background: url("../images/v6_85.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 116px;
  overflow: hidden;
}
.v6_86 {
  width: 340px;
  height: 20px;
  background: rgba(0,0,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_87 {
  width: 7px;
  color: rgba(19,18,18,1);
  position: absolute;
  top: 20px;
  left: 2px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v6_88 {
  width: 52px;
  color: rgba(15,15,15,1);
  position: absolute;
  top: 21px;
  left: 323px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v6_89 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_90 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 37px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_91 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_92 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 71px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_93 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 104px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_94 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 138px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_95 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 171px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_96 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 205px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_97 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 238px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_98 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 272px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_99 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 305px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_224 {
  width: 20px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v6_100 {
  width: 375px;
  height: 44px;
  background: url("../images/v6_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 118px;
  overflow: hidden;
}
.v6_101 {
  width: 340px;
  height: 20px;
  background: rgba(0,0,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_102 {
  width: 7px;
  color: rgba(19,18,18,1);
  position: absolute;
  top: 20px;
  left: 2px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v6_103 {
  width: 52px;
  color: rgba(15,15,15,1);
  position: absolute;
  top: 21px;
  left: 323px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v6_104 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_105 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 37px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_106 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_107 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 71px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_108 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 104px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_109 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 138px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_110 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 171px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_111 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 205px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_112 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 238px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_113 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 272px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_114 {
  width: 2px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 305px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v6_226 {
  width: 20px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 163px;
  border-radius: 50%;
}
